.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid black;
    padding: 10px;
    max-width: 300px;   
}
input{
    height: 40px;
    
    border-radius: 1px solid rgb(176, 140, 140);
}
button{
    background-color: blue;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    color: white;
    height: 40px;
    max-width: 300px;
}
input.input-error,
select.input-error {
    border-color: red;
}
p{
    color: red;
    font-size: 12px;
    padding: 0;
    margin: 0;
}

button:disabled{
    opacity: 0.35;
}
.container{
    /* border: 1px solid blue; */
    padding: 5px;
    margin: 20px;
}

.listGroup{
    border: 1px solid rgb(22, 21, 21);
    margin: 10px;
   
}

.title{
    font-size: 20px;
    color: Blue;
}
li{
    color: red;
    text-decoration: none;
}



